body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #555;
}

p {
  margin: 0;
  padding: 0;
  width: 70%;
  text-align: justify;
  font-size: 13px;
  color: #999;
}

.app {
  position: relative;
  height: 100%;
  width: 100%;
  color: #EEE;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  height: 0 auto;
  background-color: #fff;
  align-self: flex-start;
}

.vertical-line {
  position: center;
  width: -1cm;
  border-style: solid;
  border-color: grey;
  height: 1100px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 40%;
}

.form textarea {
  width: 500px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.button1 {
  background-color: #808080;
  border: none;
  border-radius: 10px;
  width: 68%;
  height: 40px;
  color: #EEE;

  font-size: 12px;
}

.button1:hover {
  background-color: #cccccc;
}

.button2 {
  background-color: #808080;
  border: none;
  border-radius: 10px;
  width: 10%;
  height: 40px;
  color: #EEE;
}

.comment1 {
  position: relative;
  overflow-y: scroll;
  text-align: left;
  width: 40%;
  height: 90%;
  margin-top: 20px;
}

.comment2 {
  margin-top: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1pt solid;
}

